:root {
  --highlight-color: #5d5fef;
  --regular-color: #1f2428;
  --bg-color: #ffffff;
  --footer-bg: #eeeffd44;
  --box-shadow: rgba(0, 0, 0, 0.2);
  --details-color: #321a7f;
  --primary-heading-font: clamp(2.3rem, 5vw, 4rem);
  --secondary-heading-font: clamp(2rem, 5vw, 2.5rem);
  --tertiary-heading-font: clamp(1.6rem, 5vw, 1.8rem);
  --quaternary-heading-font: clamp(1.3rem, 5vw, 1.6rem);
  --regular-text-font: clamp(1.4rem, 2vw, 1.6rem);
}

:root:has(.toggleMode:checked) {
  --highlight-color: #a9aaf9;
  --regular-color: #d2d2d2;
  --bg-color: #1f2428;
  --footer-bg: #16191c;
  --box-shadow: rgba(255, 255, 255, 0.2);
}

:root:has(.toggleMode:checked) .logo-dark,
:root:has(.toggleMode:checked) .fa-sun {
  display: block;
}
:root:has(.toggleMode:checked) .logo-light,
:root:has(.toggleMode:checked) .fa-moon {
  display: none;
}

.spa {
  display: none;
}

:has(.toggleLanguage:checked) .spa {
  display: block;
}

:has(.toggleLanguage:checked) .eng {
  display: none;
}

.toolbar-mobile-ul-language::after {
  display: none;
}

:has(.toggleLanguage:checked) .toolbar-mobile-ul-language::after {
  display: block;
}

:has(.toggleLanguage:checked) .toolbar-mobile-ul-language::before {
  display: none;
}

.toolbar-ul-language::after {
  display: none;
}

:has(.toggleLanguage:checked) .toolbar-ul-language::after {
  display: block;
}

:has(.toggleLanguage:checked) .toolbar-ul-language::before {
  display: none;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--regular-color);
  font-size: var(--regular-text-font);
  line-height: 1.6;
}

h1 {
  font-size: var(--primary-heading-font);
  font-weight: 600;
  margin: 1.2rem 0;
  font-family: "Merriweather Sans", sans-serif;
}

h2 {
  font-size: var(--secondary-heading-font);
  letter-spacing: 0.1rem;
  font-family: "Crete Round", serif;
  font-weight: 600;
  margin: 1rem 0;
  color: var(--details-color);
}

h3 {
  font-size: var(--tertiary-heading-font);
  margin: 0.8rem 0;
  font-family: "Crete Round", serif;
  font-weight: normal;
  color: var(--details-color);
}

h4 {
  font-size: var(--quaternary-heading-font);
  margin: 0.8rem 0;
  font-family: "Crete Round", serif;
  font-weight: normal;
  color: var(--regular-color);
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.hig-text {
  border-bottom: 2px dashed var(--highlight-color);
  color: var(--regular-color);
  cursor: pointer;
  position: relative;
}
.hig-text .tool-tip {
  position: absolute;
  width: 300px;
  padding: 0.5rem;
  background-color: var(--highlight-color);
  color: var(--bg-color);
  text-align: center;
  font-size: 1.2rem;
  border-radius: 5px;
  opacity: 0;
  transition: 0.3s;
  pointer-events: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -135%);
}
.hig-text .tool-tip::after {
  content: "";
  position: absolute;
  display: block;
  border-top: 8px solid var(--highlight-color);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  bottom: -8px;
  left: calc(50% - 8px);
}

.hig-text:hover .tool-tip {
  opacity: 1;
  transition: 0.3s;
}

figure {
  margin: 0;
  padding: 0;
}

p {
  font-size: var(--regular-text-font);
  margin: 0.8rem 0;
  font-family: "Martel Sans", sans-serif;
  line-height: 2;
  font-weight: 600;
  transition: all 0.3s ease;
}

p.increase {
  font-size: clamp(2rem, 2vw, 2rem);
  transition: all 0.3s ease;
  line-height: normal;
}

/*missing alt attribute*/
img:not([alt]) {
  outline: 0.5rem dashed red;
  outline-offset: 0.5rem;
}

/*empty alt attribute*/
img[alt=""] {
  outline-offset: 1.5rem;
  outline: 0.5rem solid blue;
}

figure,
figcaption,
span {
  margin: 0;
  padding: 0;
}

small {
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.4rem;
  font-family: "Crete Round", serif;
  color: var(--details-color);
}

.detailed {
  color: var(--highlight-color);
}

.soon {
  position: relative;
}
.soon img {
  opacity: 10%;
}

.soon::after {
  content: "Soon";
  opacity: 50%;
  position: absolute;
  left: 50%;
  bottom: 40%;
  color: var(--highlight-color);
  font-weight: bold;
  text-transform: uppercase;
  transform: translate(-50%, -50%) rotate(-20deg);
}

.scroll {
  transition: transform 1s, opacity 1.5s;
}

.scroll-hidden {
  opacity: 0;
  transform: translateY(3rem);
}

* {
  box-sizing: border-box;
}

html {
  background: var(--bg-color);
}

img {
  max-width: 100%;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.abilities-wrapper {
  margin: 0 auto;
}
.abilities-wrapper-counter {
  margin-top: 10rem;
  text-align: center;
}
.abilities-wrapper-counter-heading h3 {
  margin-bottom: 2rem;
  position: relative;
}
.abilities-wrapper-counter-heading h3::before {
  color: var(--highlight-color);
  content: "01101100 01110101";
  font-size: clamp(1rem, 2vw, 1.4rem);
  padding-right: 1.5rem;
}
.abilities-wrapper-counter-heading h3::after {
  content: "01101001 01110011";
  font-size: clamp(1rem, 2vw, 1.4rem);
  padding-left: 1.5rem;
}
.abilities-wrapper-counter-top {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 60rem;
}
.abilities-wrapper-counter-top .odometro-item-digits {
  color: var(--highlight-color);
  font-size: clamp(1.5rem, 3vw, 3.4rem);
}
.abilities-wrapper-counter-top span {
  font-family: "Merriweather Sans", sans-serif;
}

@media (max-width: 700px) {
  .abilities-wrapper h3 {
    font-size: 1.2rem;
  }
  .abilities-wrapper-counter-top {
    justify-content: center;
    gap: 5rem;
    height: auto;
    width: 100%;
  }
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.regular-btn {
  background: var(--highlight-color);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: var(--bg-color);
  font-size: 1.6rem;
}
.regular-btn:hover {
  color: var(--bg-color);
}

.contact {
  align-items: center;
  backdrop-filter: blur(0.5px);
  border-radius: 5px;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 50%;
  max-width: 95%;
  opacity: 1;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.1s ease;
  visibility: visible;
  width: 100%;
  z-index: 10;
}
.contact-modal {
  display: flex;
  border-radius: 5px;
  width: 600px;
  max-width: 95%;
  background: var(--bg-color);
  position: relative;
  box-shadow: 0 1rem 4rem 0 var(--box-shadow);
}
.contact-modal-content {
  flex-basis: 40%;
  padding: 2rem;
  border-radius: 5px 0 0 5px;
  background: var(--highlight-color);
  position: relative;
}
.contact-modal-content h3,
.contact-modal-content p,
.contact-modal-content small {
  color: #ffffff;
}
.contact-modal-form {
  padding: 2rem;
  flex-basis: 60%;
}
.contact-modal-form .form-row {
  width: 100%;
  margin: 2rem 0;
}
.contact-modal-form .form-row textarea {
  width: 100%;
  resize: vertical;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0.1rem 0.4rem 0 var(--box-shadow);
  padding: 1rem 1.5rem;
  background: transparent;
  color: var(--regular-color);
}
.contact-modal-form .form-row textarea::placeholder {
  color: var(--regular-color);
}
.contact-modal-form .form-row input {
  width: 100%;
  outline: none;
  background: transparent;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0.1rem 0.4rem 0 var(--box-shadow);
  padding: 1rem 1.5rem;
  color: var(--regular-color);
}
.contact-modal-form .form-row input::placeholder {
  color: var(--regular-color);
}
.contact-modal-form .close-modal {
  position: absolute;
  right: 2rem;
  top: 2rem;
  width: 2rem;
  height: 2rem;
  box-shadow: 0 0.1rem 0.4rem 0 var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s ease;
}
.contact-modal-form .close-modal:hover {
  transform: scale(1.1);
}

@media (max-width: 650px) {
  .contact-modal {
    flex-direction: column;
  }
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: all 0.1s ease;
}

.intro {
  padding: 8rem 0 10rem 0;
}
.intro-wrapper-info h2 {
  margin-bottom: 1rem;
  display: inline-block;
}

@media (max-width: 1000px) {
  .intro {
    padding-top: 0;
  }
  .intro-wrapper {
    height: auto;
  }
  .intro-wrapper-eyes {
    display: none;
  }
  .intro-wrapper-info {
    flex-basis: 100%;
    height: auto;
  }
}
.projects {
  padding-bottom: 10rem;
}
.projects-heading {
  margin-bottom: 3rem;
  border-top: 0.1rem solid rgba(128, 128, 128, 0.353);
}
.projects-heading h2 {
  background: var(--bg-color);
  width: max-content;
  padding: 0 2rem 0 0;
  margin-top: -2.3rem;
}
.projects-home {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}
.projects-home .projects-card {
  width: 31%;
  min-height: 31.5rem;
  padding: 1rem;
  box-shadow: 0 0.1rem 0.4rem 0 var(--box-shadow);
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-bottom: 2rem;
}
.projects-home .projects-card:hover {
  box-shadow: 0 0.4rem 0.8rem 0 var(--box-shadow);
  transition: all 0.3s ease;
}
.projects-home .projects-card-details, .projects-home .projects-card-links {
  padding: 0 1rem;
}
.projects-home .projects-card-details h4 {
  margin: 0.5rem 0 1rem 0;
  font-weight: normal;
}
.projects-home .projects-card-details small {
  font-size: 1rem;
}
.projects-home .projects-card-details small:nth-child(2) {
  color: var(--regular-color);
}
.projects-home .projects-card-details small:nth-child(3) {
  color: var(--regular-color);
}
.projects-home .projects-card-details small:nth-child(4) {
  color: var(--regular-color);
}
.projects-home .projects-card-details small span {
  font-weight: normal;
}
.projects-home .projects-card-links {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 2rem;
}
.projects-home .projects-card-links a {
  color: var(--details-color);
  border-bottom: 0.1rem solid var(--highlight-color);
  font-weight: bold;
  font-size: 1rem;
  font-family: "Merriweather Sans", sans-serif;
}
.projects-home .projects-card-links .projects-icons {
  font-size: 1rem;
}

@media (max-width: 800px) {
  .projects-card {
    flex-basis: 45%;
  }
}
@media (max-width: 500px) {
  .projects-heading h3 {
    width: 50%;
  }
  .projects-card {
    flex-basis: 100%;
  }
}
.stack {
  margin-bottom: 10rem;
}
.stack-wrapper {
  margin: 0 auto;
}
.stack-wrapper-icons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 5rem;
  gap: 1rem;
}
.stack-wrapper-icons-box {
  align-items: center;
  display: flex;
  width: 110px;
  flex-direction: column;
  margin: 1rem 0;
}
.stack-wrapper-icons-box .tech-name {
  margin-top: 0.5rem;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Merriweather Sans", sans-serif;
  color: var(--highlight-color);
}
.stack-wrapper-icons img {
  max-width: 5rem;
  min-height: 5rem;
}

@media (max-width: 500px) {
  .stack-wrapper-icons-box {
    width: 60px;
  }
  .stack-wrapper-icons-box img {
    max-width: 3rem;
    min-height: 3rem;
  }
}
.timeline {
  border-radius: 15px;
  padding: 2rem;
  box-shadow: 0 0.1rem 0.4rem 0 var(--box-shadow);
}
.timeline .item {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
  font-size: clamp(1.2rem, 2vw, 1.4rem);
}
.timeline .item-dates {
  color: var(--regular-color);
  overflow: hidden;
  position: relative;
  padding: 1rem;
  min-width: 110px;
  text-align: center;
}
.timeline .item-dates time {
  position: relative;
}
.timeline .item-dates .line {
  position: absolute;
  height: 100%;
  top: 4rem;
  background: var(--highlight-color);
  width: 1px;
  z-index: -1;
  left: 50%;
  border-radius: 5px;
}
.timeline .item-container {
  padding: 1rem;
  width: 100%;
  max-width: 100%;
  border-bottom: 1px solid lightgray;
}
.timeline .item-container-labels {
  display: flex;
  gap: 1rem;
}
.timeline .item-container-labels .label {
  padding: 0.2rem 0.5rem;
  font-size: clamp(0.8rem, 2vw, 0.8rem);
  border-radius: 5px;
  background: var(--highlight-color);
  color: white;
  text-transform: uppercase;
}
.timeline .item-container-comment {
  margin: 1rem 0 0.5rem 0;
}
.timeline .item-container .btn {
  color: var(--highlight-color);
}

.toolbar {
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0.1rem 0.4rem 0 var(--box-shadow);
  display: flex;
  justify-content: center;
  padding: 1.5rem 0.5rem 1.1rem 0.5rem;
  margin-left: -4rem;
  margin-top: 7.3rem;
  position: sticky;
  width: 4rem;
}
.toolbar-ul {
  align-items: center;
  display: flex;
  border-radius: 1rem;
  flex-direction: column;
  gap: 1.5rem;
}
.toolbar-ul li {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
}
.toolbar-ul li:active {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.toolbar-ul li i {
  color: var(--highlight-color);
  font-size: 1.5rem;
}
.toolbar-ul li a {
  font-size: 1rem;
  line-height: 1;
}
.toolbar-ul li .menu-detail {
  color: var(--regular-color);
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  font-family: "Merriweather Sans", sans-serif;
  line-height: 1;
}
.toolbar-ul-language {
  position: relative;
}
.toolbar-ul-language::after {
  content: "ENG";
  position: absolute;
  z-index: -1;
  font-family: "Merriweather Sans", sans-serif;
  color: var(--highlight-color);
  font-size: 1.5rem;
  font-weight: 500;
  display: none;
}
.toolbar-ul-language::before {
  content: "SPA";
  position: absolute;
  z-index: -1;
  font-family: "Merriweather Sans", sans-serif;
  color: var(--highlight-color);
  font-size: 1.5rem;
  font-weight: 500;
}
.toolbar-ul-language input[type=checkbox] {
  appearance: none;
  width: 3rem;
  height: 1.8rem;
  outline: none;
  cursor: pointer;
  position: relative;
}
.toolbar-ul-increase {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.2rem;
}
.toolbar-ul-increase button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}
.toolbar-ul-mode {
  position: relative;
  margin-bottom: 0.3rem;
}
.toolbar-ul-mode input[type=checkbox] {
  appearance: none;
  width: 3rem;
  height: 1.5rem;
  outline: none;
  cursor: pointer;
  position: relative;
}
.toolbar-ul-mode i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  z-index: -1;
}
.toolbar-ul-mode .fa-moon {
  display: block;
}
.toolbar-ul-mode .fa-sun {
  display: none;
}
.toolbar-ul-print {
  margin-bottom: 0.3rem;
}
.toolbar-ul-cv {
  margin-bottom: 0.6rem;
}

.toolbar-mobile {
  position: fixed;
  z-index: 99;
  bottom: 0;
  width: 100%;
  border: 0.5rem 0.5rem 0 0;
  visibility: hidden;
  opacity: 0;
  background-color: var(--bg-color);
  box-shadow: 0 -0.5rem 2rem 0 rgba(151, 151, 151, 0.2);
  padding-bottom: 1.5rem;
}
.toolbar-mobile-ul {
  padding: 1rem 0;
  width: 35rem;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.toolbar-mobile-ul li {
  min-width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.toolbar-mobile-ul li i {
  color: var(--highlight-color);
  font-size: 1.6rem;
}
.toolbar-mobile-ul li .menu-detail {
  color: var(--regular-color);
  margin-top: 0.5rem;
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--details-color);
  font-family: "Merriweather Sans", sans-serif;
}
.toolbar-mobile-ul-language {
  position: relative;
}
.toolbar-mobile-ul-language::after {
  content: "ENG";
  position: absolute;
  top: -0.2rem;
  z-index: -1;
  font-family: "Merriweather Sans", sans-serif;
  color: var(--highlight-color);
  font-size: 1.4rem;
  font-weight: 500;
  display: none;
}
.toolbar-mobile-ul-language::before {
  content: "SPA";
  position: absolute;
  top: -0.2rem;
  z-index: -1;
  font-family: "Merriweather Sans", sans-serif;
  color: var(--highlight-color);
  font-size: 1.4rem;
  font-weight: 500;
}
.toolbar-mobile-ul-language input[type=checkbox] {
  appearance: none;
  width: 3rem;
  height: 1.8rem;
  outline: none;
  cursor: pointer;
  position: relative;
}
.toolbar-mobile-ul-increase button {
  background: none;
  border: none;
  outline: none;
}
.toolbar-mobile-ul-mode {
  position: relative;
}
.toolbar-mobile-ul-mode input[type=checkbox] {
  appearance: none;
  width: 3rem;
  height: 1.9rem;
  border-radius: 1.2rem;
  outline: none;
  cursor: pointer;
  position: relative;
}
.toolbar-mobile-ul-mode i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -125%);
  z-index: -1;
}
.toolbar-mobile-ul-mode .fa-moon {
  display: block;
}
.toolbar-mobile-ul-mode .fa-sun {
  display: none;
}
.toolbar-mobile-ul-hamburguer {
  padding: 0;
  background: transparent;
  outline: none;
  border: none;
}

@media (max-width: 650px) {
  .toolbar-mobile {
    visibility: visible;
    opacity: 1;
  }
}
.footer {
  background-color: var(--footer-bg);
}
.footer .top,
.footer .bottom {
  align-items: center;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  max-width: 120rem;
  width: 100%;
}
.footer .top {
  padding: 6rem 0 5rem 0;
}
.footer .top-icon {
  align-items: center;
  display: flex;
}
.footer .top-icon-graph {
  align-items: center;
  display: flex;
  position: relative;
}
.footer .top-icon-info {
  margin-left: 1rem;
  max-width: 15rem;
}
.footer .top-icon-info-title {
  font-weight: bold;
}
.footer .top-icon-info-text {
  font-size: 1rem;
  line-height: 1.5;
  text-align: justify;
}
.footer .bottom {
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  max-width: 120rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
}
.footer .bottom-license a {
  color: var(--highlight-color);
  font-weight: bold;
}

/*************************************************
****************Responsive styles****************
**************************************************/
@media (max-width: 1200px) {
  .footer {
    padding: 0 2rem;
  }
}
@media (max-width: 950px) {
  .footer .top-icon {
    display: none;
  }
}
@media (max-width: 650px) {
  .footer .top {
    flex-direction: column;
    gap: 2rem;
  }
  .footer .top-nav {
    text-align: center;
  }
  .footer .top-nav-ul {
    justify-content: center;
  }
}
.header {
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
  max-width: 250rem;
}

.nav {
  display: flex;
  width: 100rem;
  max-width: 96%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 3rem 0;
  margin-bottom: 5rem;
}
.nav-desktop {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.nav-desktop-li a {
  color: var(--regular-color);
  font-size: clamp(1.4rem, 2vw, 1.6rem);
  transition: all 0.3s ease;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: bold;
}
.nav-desktop-li a:hover {
  color: var(--highlight-color);
}
.nav-desktop-li a i {
  font-size: 2rem;
}
.nav-desktop-li .open-modal {
  background: var(--highlight-color);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: var(--bg-color);
}
.nav-desktop-li .open-modal:hover {
  color: var(--bg-color);
}

.nav-mobile {
  width: 100%;
  height: 100%;
  position: fixed;
  background: var(--bg-color);
  z-index: 9;
  transform: translatex(100%);
  transition: all 0.2s ease;
}
.nav-mobile-ul {
  text-align: center;
}
.nav-mobile-ul-li {
  margin: 2rem 0;
}
.nav-mobile-ul-li a {
  font-size: 2.2rem;
  color: var(--regular-color);
  font-family: "Merriweather Sans", sans-serif;
}
.nav-mobile-ul-li a i {
  color: var(--highlight-color);
}
.nav-mobile-ul-li .social-network i {
  margin: 0 1rem;
}

.nav-mobile.active {
  transform: translatex(0%);
  transition: all 0.2s ease;
}

.logo-dark {
  display: none;
}

@media (max-width: 650px) {
  .nav {
    margin-bottom: 0;
    justify-content: center;
  }
  .nav .logo {
    width: 13rem;
  }
  .nav-desktop {
    display: none;
  }
  .hero-banner {
    margin-right: 1rem;
  }
}
.top-nav-ul {
  display: flex;
  gap: 4.5rem;
  margin-bottom: 1rem;
}
.top-nav-ul li a {
  color: var(--highlight-color);
  font-size: 1.4rem;
  font-family: "Merriweather Sans", sans-serif;
}
.top-nav-text {
  max-width: 41rem;
  font-weight: normal;
  font-size: 1.4rem;
}

hr {
  margin: 0;
  padding: 0;
  opacity: 30%;
}

.main-wrapp {
  display: flex;
  max-width: 110rem;
  margin: 0 auto;
  position: relative;
}
.main-wrapp main {
  margin: 0 auto;
  padding: 0 5rem;
}

@media (max-width: 900px) {
  .main-wrapp main {
    padding: 0 2rem;
  }
}
.main-header {
  position: relative;
  overflow-x: hidden;
  margin: 0 auto;
  max-width: 250rem;
  height: 90vh;
  max-height: 70rem;
}
.main-header .hero {
  max-width: 100%;
  width: 100rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 11.5rem;
}
.main-header .hero-info {
  flex-basis: 60%;
}
.main-header .hero-info .hand-animation {
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-name: shake;
  display: inline-block;
  transform-origin: 70% 70%;
}
.main-header .hero-banner {
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}
.main-header .hero-banner img {
  max-width: 60%;
}

/*************************************************
  ****************Responsive styles****************
  **************************************************/
@media (max-width: 1050px) {
  .main-header .hero {
    padding: 0 2rem;
    margin-top: 2rem;
  }
}
@media (max-width: 650px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }
}
.projects-intro {
  max-width: 110rem;
  margin: 0 auto 6rem auto;
  padding: 0 5rem;
}

.projects-filter {
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0 0.1rem 0.4rem 0 var(--box-shadow);
  color: var(--details-color);
  font-weight: 500;
  padding: 0.3rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}
.projects-wrapper .projects-card {
  width: 31%;
  min-height: 31.5rem;
  padding: 1rem;
  box-shadow: 0 0.1rem 0.4rem 0 var(--box-shadow);
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
.projects-wrapper .projects-card:hover {
  box-shadow: 0 0.4rem 0.8rem 0 var(--box-shadow);
  transition: all 0.3s ease;
}
.projects-wrapper .projects-card-details, .projects-wrapper .projects-card-links {
  padding: 0 1rem;
}
.projects-wrapper .projects-card-details h4 {
  margin: 0.5rem 0 1rem 0;
  font-weight: normal;
}
.projects-wrapper .projects-card-details small {
  font-size: 1rem;
}
.projects-wrapper .projects-card-details small span {
  font-weight: normal;
}
.projects-wrapper .projects-card-links {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 2rem;
}
.projects-wrapper .projects-card-links a {
  color: var(--details-color);
  border-bottom: 0.1rem solid var(--highlight-color);
  font-weight: bold;
  font-size: 1rem;
}
.projects-wrapper .projects-card-links .projects-icons {
  font-size: 1rem;
  color: var(--details-color);
}

@media (max-width: 900px) {
  .projects-intro {
    padding: 0 2rem;
  }
}
.main-sitemap {
  overflow-x: hidden;
}

.sitemap {
  width: 100vw;
  margin-left: 3rem;
}

a {
  font-size: 2rem;
}

.sitemap-ul {
  list-style-type: none;
  padding: 0;
  margin-left: 2rem;
  font-size: 2rem;
}

.sitemap-ul-li {
  margin-bottom: 10px;
}

.sitemap-ul-li a {
  text-decoration: none;
}

.inner-ul {
  list-style-type: none;
  padding-left: 20px;
}

.inner-ul li {
  margin-bottom: 5px;
}

.inner-ul li a {
  color: #555;
  text-decoration: none;
}

.inner-ul li a:hover {
  text-decoration: underline;
}
