@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  color: #191919;
  font-family: "Open Sans", sans-serif;
  font-size: clamp(1.2rem, 2vw, 1.4rem);
  line-height: 1.6;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: clamp(2.3rem, 5vw, 3.8rem);
  font-weight: 600;
  margin: 1.2rem 0;
}

h2 {
  display: inline;
  font-family: "Poppins", sans-serif;
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin: 1rem 0;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: clamp(1.8rem, 5vw, 2rem);
  font-weight: 600;
  margin: 0.8rem 0;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-size: clamp(1.4rem, 5vw, 1.8rem);
  margin: 0.8rem 0;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

figure {
  margin: 0;
  padding: 0;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(1.2rem, 2vw, 1.4rem);
  font-weight: 600;
  line-height: 2.4rem;
  margin: 0.8rem 0;
}

/*missing alt attribute*/
img:not([alt]) {
  outline: 0.5rem dashed red;
  outline-offset: 0.5rem;
}

/*empty alt attribute*/
img[alt=""] {
  outline-offset: 1.5rem;
  outline: 0.5rem solid blue;
}

figure,
figcaption,
span {
  margin: 0;
  padding: 0;
}

.detailed {
  color: #ef5d5f;
}

small {
  font-weight: bold;
}

.soon {
  position: relative;
}
.soon img {
  opacity: 10%;
}

.soon::after {
  content: "Soon";
  opacity: 50%;
  position: absolute;
  left: 50%;
  bottom: 40%;
  color: #ef5d5f;
  font-weight: bold;
  text-transform: uppercase;
  transform: translate(-50%, -50%) rotate(-20deg);
}

* {
  box-sizing: border-box;
}

html {
  background: #fcfcfc;
}

img {
  max-width: 100%;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.abilities {
  margin: 0 auto;
}
.abilities-wrapper {
  margin: 0 auto;
}
.abilities-wrapper-counter {
  text-align: center;
  margin-top: 10rem;
}
.abilities-wrapper-counter-heading h3 {
  position: relative;
  margin-bottom: 3rem;
}
.abilities-wrapper-counter-heading h3::before {
  content: "01101100 01110101";
  font-size: clamp(1rem, 2vw, 1.4rem);
  color: rgba(0, 0, 0, 0.36);
  padding-right: 1.5rem;
}
.abilities-wrapper-counter-heading h3::after {
  content: "01101001 01110011";
  font-size: clamp(1rem, 2vw, 1.4rem);
  color: rgba(0, 0, 0, 0.36);
  padding-left: 1.5rem;
}
.abilities-wrapper-counter-top {
  display: flex;
  justify-content: space-between;
  width: 60rem;
  margin: 0 auto 10rem auto;
}
.abilities-wrapper-counter-top .odometro-item-digits {
  color: #5d5fef;
  font-size: clamp(1.5rem, 3vw, 3.4rem);
}
.abilities-wrapper-counter-top .odometro-item-digits span {
  color: black;
  font-size: clamp(1.2rem, 2vw, 1.4rem);
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.intro {
  margin: 0 auto;
  padding: 11rem 0;
}
.intro-wrapper {
  margin: 0 auto;
  display: flex;
  height: 26rem;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.intro-wrapper-eyes {
  max-width: 42.8rem;
  height: 26rem;
  flex-basis: 50%;
}
.intro-wrapper-eyes img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.intro-wrapper-info {
  flex-basis: 50%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.intro-wrapper-info .secondary-heading {
  display: inline;
  font-family: "Poppins", sans-serif;
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin: 1rem 0;
  display: inline;
  margin: 0;
}
.intro-wrapper-info .regular-text {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(1.2rem, 2vw, 1.4rem);
  font-weight: 600;
  line-height: 2.4rem;
  margin: 0.8rem 0;
  border-bottom: 0.1rem solid black;
  padding-bottom: 3rem;
}
.intro-wrapper-info .details {
  color: #5d5fef;
}

.stack {
  margin-bottom: 10rem;
}
.stack-wrapper {
  margin: 0 auto;
}
.stack-wrapper-icons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
}
.stack-wrapper-icons-box {
  flex-basis: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}
.stack-wrapper-icons-box .tech-name {
  margin-top: 0.5rem;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  color: #5d5fef;
}
.stack-wrapper-icons img {
  max-width: 7rem;
  min-height: 7rem;
}

.timeline {
  margin: 0 auto;
  padding-bottom: 12rem;
  /* Estilo general para todos los navegadores */
}
.timeline ::-webkit-scrollbar {
  width: 1rem;
  -webkit-appearance: none;
}
.timeline ::-webkit-scrollbar-thumb {
  background-color: #ef5d5f;
  border-radius: 0.5rem;
}
.timeline ::-webkit-scrollbar-track {
  background-color: rgba(241, 241, 241, 0.6901960784);
  border-radius: 0.5rem;
}
.timeline-wrapper {
  margin: 0 auto;
  width: 95rem;
  overflow: hidden;
}
.timeline-wrapper-hero {
  padding: 2rem 0 4rem 0;
}
.timeline-wrapper-items {
  height: 45rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  position: relative;
  /* Each item style */
}
.timeline-wrapper-items::after {
  background-color: #191919;
  border-radius: 0.5rem;
  content: "";
  height: 307rem;
  left: 50%;
  position: absolute;
  transform: translate(-50%) translateY(-2rem);
  width: 0.1rem;
  z-index: -1;
}
.timeline-wrapper-items .item {
  display: flex;
  margin: 0 0 1rem 0;
  transition: all 1s ease;
  width: 100%;
}
.timeline-wrapper-items .item_container {
  width: 50%;
}
.timeline-wrapper-items .item_container_info {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.2rem 0.3rem rgba(0, 0, 0, 0.207);
  margin: 0 auto;
  padding: 1rem;
  position: relative;
  width: 90%;
}
.timeline-wrapper-items .item_container_info--header {
  align-items: center;
  display: flex;
}
.timeline-wrapper-items .item_container_info--header .labels {
  display: flex;
}
.timeline-wrapper-items .item_container_info--header .labels .label {
  align-items: center;
  border-radius: 0.3rem;
  color: white;
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  justify-content: center;
  margin: 0 0.2rem;
  padding: 0.2rem 0.5rem;
  text-transform: uppercase;
  background: #ef5d5f;
}
.timeline-wrapper-items .item_container_info--header .time {
  font-size: 1.2rem;
}
.timeline-wrapper-items .item_container_info--details {
  font-size: 1.4rem;
}
.timeline-wrapper-items .item_container_info--details .comment {
  margin: 1rem 0;
  font-size: clamp(1.2rem, 2vw, 1.4rem);
}
.timeline-wrapper-items .item_container .highlight::after {
  content: "⭐";
  position: absolute;
  right: -0.8rem;
  top: -1rem;
  transform: rotate(10deg);
}
.timeline-wrapper-items .item:nth-child(odd) {
  justify-content: flex-end;
  position: relative;
}
.timeline-wrapper-items .item:nth-child(odd)::after {
  background-color: white;
  border-radius: 50%;
  border: 0.1rem solid #ef5d5f;
  content: "";
  height: 1.5rem;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1.5rem;
  z-index: 9;
}
.timeline-wrapper-items .item:nth-child(even) {
  justify-content: flex-start;
  position: relative;
}
.timeline-wrapper-items .item:nth-child(even)::before {
  background-color: white;
  border-radius: 50%;
  border: 0.1rem solid #ef5d5f;
  content: "";
  height: 1.5rem;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1.5rem;
  z-index: 9;
}

.toolbar {
  border-radius: 2.5rem;
  display: flex;
  height: 17.3rem;
  justify-content: center;
  margin-top: 10rem;
  border: 0.1rem solid purple;
  position: sticky;
  top: 1rem;
  width: 4rem;
  margin-left: -4rem;
}

.footer {
  background-color: rgba(238, 239, 253, 0.3019607843);
}
.footer .top,
.footer .bottom {
  align-items: center;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  max-width: 120rem;
  width: 100%;
}
.footer .top {
  padding: 6rem 0 5rem 0;
}
.footer .top-icon {
  align-items: center;
  display: flex;
}
.footer .top-icon-graph {
  align-items: center;
  display: flex;
  position: relative;
}
.footer .top-icon-graph-options {
  align-items: center;
  display: flex;
  background-color: black;
  border-radius: 50%;
  bottom: 0;
  color: white;
  cursor: pointer;
  height: 2.5rem;
  justify-content: center;
  left: -6rem;
  position: absolute;
  transition: scale 0.4s ease;
  width: 2.5rem;
}
.footer .top-icon-graph-options:nth-child(3) {
  top: -0.5rem;
}
.footer .top-icon-graph-options:nth-child(4) {
  top: -5rem;
  left: 60%;
}
.footer .top-icon-graph-options.active {
  background-color: #4e54ec;
  transform: scale(1.1);
  transition: scale 0.4s ease;
}
.footer .top-icon-graph-container {
  background-color: transparent;
  border-bottom-left-radius: 10rem;
  border-top-left-radius: 10rem;
  border: 0.2rem solid #fcddec;
  height: 21rem;
  left: -3rem;
  position: absolute;
  width: 10.5rem;
  border-right: none;
}
.footer .top-icon-graph-container .dots {
  background-color: #ef5d5f;
  border-radius: 50%;
  border: 0.2rem solid transparent;
  bottom: -0.3rem;
  height: 0.5rem;
  left: 95%;
  position: absolute;
  transition: all 0.2s ease;
  width: 0.5rem;
}
.footer .top-icon-graph-container .dots:nth-child(2) {
  left: 1rem;
  bottom: 4.5rem;
}
.footer .top-icon-graph-container .dots:nth-child(3) {
  left: 0.8rem;
  top: 5rem;
}
.footer .top-icon-graph-container .dots:nth-child(4) {
  top: -0.3rem;
}
.footer .top-icon-graph-container .dots.active {
  outline: 0.2rem solid #5d5fef;
  transform: scale(1.5);
  transition: all 0.2s ease;
}
.footer .top-icon-info {
  margin-left: 1rem;
  max-width: 15rem;
}
.footer .top-icon-info-title {
  font-weight: bold;
}
.footer .top-icon-info-text {
  font-size: 1rem;
  line-height: 1.5;
  text-align: justify;
}
.footer .bottom {
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  max-width: 120rem;
  padding-bottom: 2rem;
}
.footer .bottom-license a {
  color: #ef5d5f;
  font-weight: bold;
}

.header {
  height: 85vh;
  margin: 0 auto;
  max-height: 70rem;
  max-width: 300rem;
  overflow: hidden;
  position: relative;
}
.header .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header .wrapper-hero {
  align-items: center;
  display: flex;
  margin: 0 auto;
}
.header .wrapper-hero-info {
  flex-basis: 50%;
  padding-left: 12rem;
}
.header .wrapper-hero-info .hand-animation {
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-name: shake;
  display: inline-block;
  transform-origin: 70% 70%;
}
.header .wrapper-hero-banner {
  align-items: center;
  display: flex;
  flex-basis: 50%;
  justify-content: center;
}
.header .wrapper-hero-banner img {
  transform: rotate(3deg);
  width: 60%;
}

.wrapper-nav {
  margin-bottom: 5rem;
  padding: 2rem 0 4rem 0;
}
.wrapper-nav-ul {
  align-items: center;
  display: flex;
  gap: 4rem;
  justify-content: center;
}
.wrapper-nav-ul li a {
  color: #191919;
  font-family: "Poppins", sans-serif;
  font-size: clamp(1.4rem, 2vw, 1.6rem);
  font-weight: 600;
  text-transform: capitalize;
  transition: all 0.3s ease;
}
.wrapper-nav-ul li a:hover {
  color: #ef5d5f;
}

.top-nav {
  min-width: 50rem;
}
.top-nav-ul {
  display: flex;
  gap: 4.5rem;
  margin-bottom: 1rem;
}
.top-nav-ul li a {
  color: #ef5d5f;
  font-weight: bold;
}
.top-nav-text {
  max-width: 41rem;
}

.main-wrapp {
  display: flex;
  max-width: 110rem;
  margin: 0 auto;
}
.main-wrapp main {
  margin: 0 auto;
  padding: 0 5rem;
}
