html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
}

p {
  line-height: 2.4rem;
  font-size: clamp(1.6rem, 2vw, 1.8rem);
  font-family: "Open Sans", sans-serif;
  margin: 0.8rem 0;
}

h1 {
  margin: 1.2rem 0;
  font-size: clamp(2.3rem, 5vw, 3.8rem);
  font-family: "Montserrat", sans-serif;
}

h2 {
  margin: 1rem 0;
  font-size: clamp(2.1rem, 5vw, 3.5rem);
  font-family: "Montserrat", sans-serif;
}

h3 {
  margin: 0.8rem 0;
  font-size: clamp(2rem, 5vw, 3.2rem);
  font-family: "Open Sans", sans-serif;
}

h4 {
  margin: 0.8rem 0;
  font-size: clamp(1.9rem, 5vw, 3rem);
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
}

/*missing alt attribute*/
img:not([alt]) {
  outline: 0.5rem dashed red;
  outline-offset: 0.5rem;
}

/*empty alt attribute*/
img[alt=""] {
  outline-offset: 1.5rem;
  outline: 0.5rem solid blue;
}

figure,
figcaption,
span {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
