@mixin primary_heading {
  font-family: "Montserrat", sans-serif;
  font-size: $primary-heading-font;
  margin: 1.2rem 0;
}

@mixin secondary_heading {
  font-family: "Montserrat", sans-serif;
  font-size: $secondary-heading-font;
  margin: 1rem 0;
}

@mixin tertiary_heading {
  font-family: "Open Sans", sans-serif;
  font-size: $tertiary-heading-font;
  margin: 0.8rem 0;
}

@mixin quaternary_heading {
  font-family: "Open Sans", sans-serif;
  font-size: $quaternary-heading-font;
  margin: 0.8rem 0;
}

@mixin regular_text {
  font-family: "Open Sans", sans-serif;
  font-size: $regular-text-font;
  line-height: 2.4rem;
  margin: 0.8rem 0;
}

// Centering
@mixin margin_center {
  margin: 0 auto;
}
