@mixin primary_heading {
  font-family: "Merriweather Sans", sans-serif;
  font-size: var(--primary-heading-font);
  font-weight: 600;
  margin: 1.2rem 0;
}

@mixin secondary_heading {
  color: var(--details-color);
  font-family: "Crete Round", serif;
  font-size: var(--secondary-heading-font);
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin: 1rem 0;
}

@mixin tertiary_heading {
  color: var(--details-color);
  font-family: "Crete Round", serif;
  font-size: var(--tertiary-heading-font);
  font-weight: normal;
  margin: 0.8rem 0;
}
@mixin quaternary_heading {
  color: var(--regular-color);
  font-family: "Crete Round", serif;
  font-size: var(--quaternary-heading-font);
  font-weight: normal;
  margin: 0.8rem 0;
}

@mixin regular_text {
  font-size: var(--regular-text-font);
  font-weight: 600;
  margin: 0.8rem 0;
}

// Centering margin
@mixin margin_center {
  margin: 0 auto;
}

// centering flex
@mixin flex_center {
  align-items: center;
  display: flex;
}
