$cta-color: #f20574;
$details-color: #5d5fef;
$highlight-color: #ef5d5f;

$regular-color: #111111;

$primary-heading-font: clamp(2.3rem, 5vw, 3.8rem);
$secondary-heading-font: clamp(2.1rem, 5vw, 3.5rem);
$tertiary-heading-font: clamp(2rem, 5vw, 2.5rem);
$quaternary-heading-font: clamp(1.9rem, 5vw, 3rem);

$regular-text-font: clamp(1.6rem, 2vw, 1.6rem);
