$regular-text-color: #0c0c0c;
$highlight-color: #ef5d5f;
$cta-color: #ef5da8;
$details-color: #5d5fef;

// $primary-heading-font: clamp(, 5vw);
// $secondary-heading-font: clamp(, 5vw);
// $tertiary-heading-font: clamp(, 5vw);
// $quaternary-heading-font: clamp(, 5vw);
$regular-text-font: clamp(1.6rem, 2vw, 1.8rem);
