.footer {
  background-color: var(--footer-bg);
  margin-top: 10rem;

  .top,
  .bottom {
    @include flex_center;
    @include margin_center;
    justify-content: space-between;
    max-width: 120rem;
    width: 100%;
  }

  .top {
    padding: 6rem 0 5rem 0;

    // navigation menu on the nav page

    &-icon {
      @include flex_center;

      &-info {
        max-width: 20rem;

        &-title {
          font-weight: bold;
          margin: 0;
        }

        &-text {
          font-size: 1.2rem;
          line-height: 1.5;
        }
      }
    }
  }

  .bottom {
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    margin-top: 2rem;
    max-width: 120rem;
    padding-bottom: 2rem;

    p {
      font-size: clamp(1.2rem, 5vw, 1.4rem);
    }
  }
}
/*************************************************
****************Responsive styles****************
**************************************************/
@media (max-width: 1200px) {
  .footer {
    padding: 0 2rem;
  }
}

@media (max-width: 950px) {
  .footer {
    .top {
      &-icon {
        display: none;
      }
    }
  }
}

@media (max-width: 650px) {
  .footer {
    margin-top: 5rem;
    .top {
      flex-direction: column;
      gap: 2rem;

      &-nav {
        &-ul {
          justify-content: center;
        }

        text-align: center;
      }
    }
  }
}
