footer {
  background-color: #eeeffd4d;

  .top,
  .bottom {
    width: 100%;
    max-width: 1200px;
    @include margin_center;
    @include flex_center;
    justify-content: space-between;
  }

  .top {
    padding: 6rem 0;

    &-logo {
    }

    &-nav {
      max-width: 500px;
      &-ul {
        display: flex;

        li {
          margin-right: 3rem;
        }
      }
    }

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 300px;

      &-graph {
        margin-right: 1rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &-user {
          min-width: 140px;
        }

        &-options {
          width: 25px;
          height: 25px;
          background-color: black;
          padding: 0.5rem;

          position: absolute;
          border-radius: 50%;

          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          left: -60px;
          bottom: 0;
          cursor: pointer;
          transition: scale 0.4s ease;

          &:nth-child(3) {
            top: -5px;
          }

          &:nth-child(4) {
            top: -50px;
            left: 60%;
          }
        }

        &-options.active {
          transform: scale(1.1);
          background-color: #4e54ec;
          transition: scale 0.4s ease;
        }

        &-container {
          height: 210px;
          background-color: transparent;
          width: 105px;
          border-top-left-radius: 100px;
          border-bottom-left-radius: 100px;
          position: absolute;
          border: 2px solid #fcddec;
          left: -30px;
          border-right: none;

          .dots {
            width: 5px;
            height: 5px;
            background-color: $highlight-color;
            position: absolute;
            bottom: -3px;
            left: 95%;
            border-radius: 50%;
            transition: all 0.2s ease;
            border: 2px solid transparent;

            &:nth-child(2) {
              left: 10px;
              bottom: 45px;
            }

            &:nth-child(3) {
              left: 8px;
              top: 50px;
            }

            &:nth-child(4) {
              top: -3px;
            }
          }

          .dots.active {
            transition: all 0.2s ease;
            outline: 2px solid $highlight-color;
            transform: scale(1.5);
          }
        }
      }

      &-info {
        &-title {
          font-weight: bold;
        }

        &-text {
          font-size: 1rem;
          line-height: 1.5;
          text-align: justify;
        }
      }
    }
  }

  .bottom {
    display: flex;
    height: 50px;
    max-width: 1200px;
    justify-content: space-between;
  }
}
