.footer {
  background-color: var(--footer-bg);

  .top,
  .bottom {
    @include flex_center;
    @include margin_center;
    justify-content: space-between;
    max-width: 120rem;
    width: 100%;
  }

  .top {
    padding: 6rem 0 5rem 0;

    &-logo {
      // logo style
    }

    // navigation menu on the nav page

    &-icon {
      @include flex_center;

      &-graph {
        @include flex_center;
        position: relative;
      }

      &-info {
        margin-left: 1rem;
        max-width: 15rem;

        &-title {
          font-weight: bold;
        }

        &-text {
          font-size: 1rem;
          line-height: 1.5;
          text-align: justify;
        }
      }
    }
  }

  .bottom {
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    max-width: 120rem;
    padding-bottom: 2rem;

    &-license {
      a {
        color: var(--highlight-color);
        font-weight: bold;
      }
    }
  }
}
/*************************************************
****************Responsive styles****************
**************************************************/
@media (max-width: 1200px) {
  .footer {
    padding: 0 2rem;
  }
}
