header {
  background-color: $regular-color;
  height: 100vh;
  max-height: 800px;
  overflow: hidden;

  .wrapper {
    @include margin_center;
    max-width: 160rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // Navigation section
    .nav {
      padding: 2rem 0;

      // navigation links
      a {
        color: #efeaff;
        font-family: "Montserrat", sans-serif;
        font-size: clamp(1.6rem, 2vw, 1.8rem);
        text-transform: uppercase;
        padding-bottom: 0.6rem;
        transition: all 0.3s ease;

        &:hover {
          color: lighten($highlight-color, 10%);
        }
      }

      &-desktop {
        @include flex_center;
        justify-content: flex-end;

        &-ul {
          @include flex_center;
          margin-right: 16%;

          li {
            margin-left: 2.5rem;
          }
        }
      }
    }

    // Hero header
    &-hero {
      display: flex;
      padding: 0 8rem;

      width: 100%;
      align-items: center;
      // justify-content: space-around;
      text-align: center;

      &-block {
        min-width: 50%;
      }

      &-img {
        min-width: 50%;

        img {
          object-fit: cover;
          object-position: center;
          max-height: 60rem;
        }
      }
    }
  }
}
