.header {
  height: 85vh;
  margin: 0 auto;
  max-height: 70rem;
  max-width: 300rem;
  overflow: hidden;
  position: relative;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    // navigation on the nav page

    // Hero header
    &-hero {
      @include flex_center;
      @include margin_center;

      &-info {
        flex-basis: 50%;
        padding-left: 12rem;

        .hand-animation {
          animation-duration: 2.5s;
          animation-iteration-count: infinite;
          animation-name: shake;
          display: inline-block;
          transform-origin: 70% 70%;
        }
      }

      &-banner {
        @include flex_center;
        flex-basis: 50%;
        justify-content: center;

        img {
          transform: rotate(3deg);
          width: 60%;
        }
      }
    }
  }
}
