// top nav menu
.wrapper-nav {
  margin-bottom: 5rem;
  padding: 3rem 0 4rem 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  // Desktop navigation
  &-desktop {
    display: flex;
    // display: none;
    align-items: center;
    gap: 3rem;

    &-li {
      a {
        color: $regular-color;
        font-family: "Poppins", sans-serif;
        font-size: clamp(1.4rem, 2vw, 1.6rem);
        font-weight: 600;
        transition: all 0.3s ease;

        &:hover {
          color: $highlight-color;
        }
      }
    }

    // List item drop activator
    .dropActivator {
      position: relative;
      background: $details-color;
      border-radius: 5px;
      padding: 0.2rem 1rem;

      a {
        color: $bg-color;
        font-weight: 600;
      }
    }

    .dropdown {
      background: $bg-color;
      border-radius: 0.5rem;
      box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.478);
      position: absolute;
      right: 0;
      text-align: left;
      top: 5rem;
      z-index: 1;
      transition: opacity 0.2s ease;
      visibility: hidden;
      opacity: 0;
      font-size: 1.3rem;
      padding: 2rem 3rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      &::before {
        content: "";
        border-radius: 4px 0;
        box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.1178);
        height: 16px;
        right: 3.6rem;
        position: absolute;
        top: -0.3rem;
        transform: rotate(45deg) translate(-50%);
        width: 16px;
        background: $bg-color;
      }

      hr {
        margin: 0;
        padding: 0;
        opacity: 30%;
      }

      &-item {
        display: flex;
        flex-direction: column;

        .social-network i {
          margin-right: 1rem;
        }

        small {
          font-weight: normal;
          margin-bottom: 0.5rem;
          font-size: 1.4rem;
        }

        a {
          color: $regular-color;
          font-size: 1.4rem;
        }
      }
    }

    .dropdownActivated {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.2s ease;
    }

    .dropdownActivated .social {
      opacity: 1;
    }
    .dropdownActivated .mailbox {
      opacity: 1;
    }
    .dropdownActivated .cv {
      opacity: 1;
    }
  }

  // mobile navigation
  &-icon {
    background: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 3rem;
    width: 3rem;
    height: 3rem;
    @include flex_center;
    justify-content: center;
    display: none;
    color: $details-color;
  }

  &-mobile {
    display: none;
  }
}

@media (max-width: 650px) {
  .header {
    .wrapper {
      &-nav {
        margin-bottom: 0;
        padding: 3rem 2rem;
        &-desktop {
          display: none;
        }

        &-icon {
          display: flex;
        }
      }

      &-hero {
        &-info {
          margin-bottom: 1rem;
        }

        &-banner {
          img {
            width: 60%;
          }
        }
      }
    }
  }
}

// footer nav menu
.top-nav {
  min-width: 50rem;

  &-ul {
    display: flex;
    gap: 4.5rem;
    margin-bottom: 1rem;

    li {
      a {
        color: $highlight-color;
        font-weight: bold;
      }
    }
  }

  &-text {
    max-width: 41rem;
  }
}
