.abilities {
  &-wrapper {
    @include margin_center;

    &-counter {
      margin-top: 10rem;
      text-align: center;

      &-heading {
        h3 {
          margin-bottom: 2rem;
          position: relative;

          &::before {
            color: $regular-color;
            color: lighten($regular-color, 70%);
            content: "01101100 01110101";
            font-size: clamp(1rem, 2vw, 1.4rem);
            padding-right: 1.5rem;
          }

          &::after {
            color: lighten($regular-color, 70%);
            content: "01101001 01110011";
            font-size: clamp(1rem, 2vw, 1.4rem);
            padding-left: 1.5rem;
          }
        }
      }

      &-top {
        @include flex_center;
        justify-content: space-between;
        margin: 0 auto 10rem auto;
        width: 60rem;

        .odometro-item-digits {
          color: $details-color;
          font-size: clamp(1.5rem, 3vw, 3.4rem);
        }
      }
    }
  }
}
