.regular-btn {
  background: var(--highlight-color);
  border-radius: 5px;
  border: none;
  color: var(--bg-color);
  cursor: pointer;
  font-size: clamp(1.4rem, 2vw, 1.4rem);
  outline: none;
  padding: 0.5rem 1rem;
}

#help-button {
  color: var(--highlight-color);
  position: relative;
  padding-bottom: 0.5rem;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 15px;
    background: var(--highlight-color);
  }
}
