// see more projects button
.regular-btn {
  background: var(--details-color);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: var(--bg-color);
  cursor: pointer;
  font-weight: 600;
  margin-top: 3rem;
  display: inline-block;
}
