.contact {
  align-items: center;
  backdrop-filter: blur(0.5px);
  border-radius: 5px;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 50%;
  max-width: 95%;
  opacity: 1;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.1s ease;
  visibility: visible;
  width: 100%;
  z-index: 10;

  &-modal {
    display: flex;
    border-radius: 5px;
    width: 600px;
    max-width: 95%;
    background: var(--bg-color);
    position: relative;
    box-shadow: 0 1rem 4rem 0 var(--box-shadow);

    &-content {
      flex-basis: 40%;
      padding: 2rem;
      border-radius: 5px 0 0 5px;
      background: var(--details-color);
      position: relative;

      h3,
      p,
      small {
        color: #ffffff;
      }
    }

    &-form {
      padding: 2rem;
      flex-basis: 60%;

      .form-row {
        width: 100%;
        margin: 2rem 0;

        textarea {
          width: 100%;
          resize: vertical;
          outline: none;
          border-radius: 5px;
          border: none;
          box-shadow: 0 0.1rem 0.4rem 0 var(--box-shadow);
          padding: 1rem 1.5rem;
          background: transparent;
          color: var(--regular-color);
          &::placeholder {
            color: var(--regular-color);
          }
        }

        input {
          width: 100%;
          outline: none;
          background: transparent;
          border-radius: 5px;
          border: none;
          box-shadow: 0 0.1rem 0.4rem 0 var(--box-shadow);
          padding: 1rem 1.5rem;
          color: var(--regular-color);

          &::placeholder {
            color: var(--regular-color);
          }
        }
      }

      .close-modal {
        position: absolute;
        right: 2rem;
        top: 2rem;
        width: 2rem;
        height: 2rem;
        box-shadow: 0 0.1rem 0.4rem 0 var(--box-shadow);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.1s ease;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .contact-modal {
    flex-direction: column;
  }
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: all 0.1s ease;
}
