.intro {
  padding: 8rem 0 10rem 0;

  &-wrapper {
    &-info {
      .details {
        color: var(--highlight-color);
      }

      h2 {
        margin-bottom: 1rem;
        display: inline-block;
      }
    }
  }
}

@media (max-width: 1000px) {
  .intro {
    padding-top: 0;
  }
  .intro-wrapper {
    height: auto;

    &-eyes {
      display: none;
    }

    &-info {
      flex-basis: 100%;
      height: auto;
    }
  }
}
