.projects {
  padding-bottom: 6.3rem;

  &-heading {
    border-top: 0.1rem solid rgba(128, 128, 128, 0.353);
    margin-bottom: 3rem;

    h2 {
      background: var(--bg-color);
      margin-top: -2.3rem;
      padding: 0 2rem 0 0;
      width: max-content;
    }
  }

  &-home {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    margin-bottom: 3rem;

    .projects-card {
      border-radius: 0.5rem;
      box-shadow: 0 0.1rem 0.4rem 0 var(--box-shadow);
      cursor: pointer;
      min-height: 31.5rem;
      padding: 1rem;
      transition: all 0.3s ease;
      width: 31%;

      &:hover {
        box-shadow: 0 0.4rem 0.8rem 0 var(--box-shadow);
        transition: all 0.3s ease;
      }

      &-details,
      &-links {
        padding: 0 1rem;
      }

      &-details {
        h4 {
          font-weight: normal;
          margin: 0.5rem 0 1rem 0;
        }

        small {
          color: var(--regular-color);
          font-size: 1rem;

          span {
            font-weight: normal;
          }
        }
      }

      &-links {
        @include flex_center;
        justify-content: space-between;
        margin-top: 2rem;
        width: 100%;

        a {
          border-bottom: 0.1rem solid var(--highlight-color);
          color: var(--details-color);
          font-family: "Merriweather Sans", sans-serif;
          font-size: 1rem;
          font-weight: bold;
        }

        .projects-icons {
          font-size: 1rem;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .projects-card {
    flex-basis: 45%;
  }
}

@media (max-width: 500px) {
  .projects-card {
    flex-basis: 100%;
  }
}
