.projects {
  padding-bottom: 10rem;

  &-heading {
    margin-bottom: 3rem;
    border-top: 0.1rem solid rgba(128, 128, 128, 0.353);

    h2 {
      background: var(--bg-color);
      width: max-content;
      padding: 0 2rem 0 0;
      margin-top: -2.3rem;
    }
  }

  &-home {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;

    .projects-card {
      width: 31%;
      min-height: 31.5rem;
      padding: 1rem;
      box-shadow: 0 0.1rem 0.4rem 0 var(--box-shadow);
      border-radius: 0.5rem;
      transition: all 0.3s ease;
      cursor: pointer;
      margin-bottom: 2rem;

      &:hover {
        box-shadow: 0 0.4rem 0.8rem 0 var(--box-shadow);
        transition: all 0.3s ease;
      }

      &-details,
      &-links {
        padding: 0 1rem;
      }

      &-details {
        h4 {
          margin: 0.5rem 0 1rem 0;
          font-weight: normal;
        }

        small {
          font-size: 1rem;

          &:nth-child(2) {
            color: var(--regular-color);
          }

          &:nth-child(3) {
            color: var(--regular-color);
          }
          &:nth-child(4) {
            color: var(--regular-color);
          }

          span {
            font-weight: normal;
          }
        }
      }

      &-links {
        @include flex_center;
        width: 100%;
        justify-content: space-between;
        margin-top: 2rem;

        a {
          color: var(--details-color);
          border-bottom: 0.1rem solid var(--highlight-color);
          font-weight: bold;
          font-size: 1rem;
          font-family: "Merriweather Sans", sans-serif;
        }

        .projects-icons {
          font-size: 1rem;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .projects-card {
    flex-basis: 45%;
  }
}

@media (max-width: 500px) {
  .projects {
    &-heading {
      h3 {
        width: 50%;
      }
    }
  }
  .projects-card {
    flex-basis: 100%;
  }
}
