.projects {
  padding-bottom: 11rem;
  &-heading {
    text-align: center;
    border-top: 0.1rem solid rgba(128, 128, 128, 0.353);

    h3 {
      position: relative;
      background: var(--bg-color);
      margin-top: -15rem;
      width: 30rem;
      margin: -1.7rem auto 0 auto;
    }
  }

  &-wrapper {
    margin-top: 2rem;

    .projects-card {
      width: 31%;
      padding: 1rem;
      box-shadow: 0 0.1rem 0.4rem 0 var(--box-shadow);
      border-radius: 0.5rem;
      transition: all 0.3s ease;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0.4rem 0.8rem 0 var(--box-shadow);
        transition: all 0.3s ease;
      }

      &-details,
      &-links {
        padding: 0 2rem;
      }

      &-details {
        h4 {
          margin: 0.5rem 0 1rem 0;
          font-weight: normal;
        }

        small {
          font-size: 1rem;

          span {
            font-weight: normal;
          }
        }
      }

      &-links {
        @include flex_center;
        width: 100%;
        justify-content: space-between;
        margin-top: 2rem;

        a {
          color: var(--highlight-color);
          border-bottom: 0.1rem solid var(--highlight-color);
          font-weight: bold;
          font-size: 1rem;
        }

        .projects-icons {
          font-size: 1rem;
          color: var(--details-color);
        }
      }
    }
  }
}
