.stack {
  margin-bottom: 10rem;

  &-wrapper {
    @include margin_center;

    &-icons {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 5rem;
      gap: 1rem;

      &-box {
        @include flex_center;
        width: 110px;
        flex-direction: column;
        margin: 1rem 0;

        .tech-name {
          margin-top: 0.5rem;
          letter-spacing: 0.1rem;
          font-size: 1rem;
          font-weight: bold;
          font-family: "Merriweather Sans", sans-serif;
          color: var(--details-color);
        }
      }

      img {
        max-width: 5rem;
        min-height: 5rem;
      }
    }
  }
}

@media (max-width: 500px) {
  .stack-wrapper-icons-box {
    width: 60px;

    img {
      max-width: 3rem;
      min-height: 3rem;
    }
  }
}
