.stack {
  margin-bottom: 10rem;

  &-wrapper {
    @include margin_center;

    &-icons {
      display: flex;
      flex-wrap: wrap;
      margin-top: 5rem;

      &-box {
        flex-basis: 20%;
        @include flex_center;
        flex-direction: column;
        padding: 2rem;

        .tech-name {
          margin-top: 0.5rem;
          font-size: 1rem;
          letter-spacing: 0.1rem;
          font-weight: bold;
          color: $details-color;
        }
      }

      img {
        max-width: 7rem;
        min-height: 7rem;
      }
    }
  }
}
