.toolbar {
  border-radius: 1rem;
  border: 0.5px solid $regular-color;
  display: flex;
  justify-content: center;
  padding: 1.5rem 0.5rem 1.1rem 0.5rem;
  //   Key margin to center all elements because of the toolbar
  margin-left: -4rem;
  margin-top: 13.2rem;
  position: sticky;
  top: 10rem;
  // Can't be bigger than 40px
  width: 4rem;

  &-ul {
    @include flex_center;
    border-radius: 1rem;
    flex-direction: column;
    gap: 1.5rem;
    height: 100%;
    justify-content: center;
    width: 100%;

    // Styles for all elements
    li {
      @include flex_center;
      justify-content: center;
      flex-direction: column;

      a {
        @include flex_center;
        justify-content: center;
      }
    }

    // Language
    &-language {
      button {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        // font-weight: 600;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 1.2rem;
      }
    }

    // Increase
    &-increase {
      display: flex;
      flex-direction: column;
      font-size: 1rem;
      height: 27px;
      width: 25px;
      margin-bottom: 0.1rem;

      button {
        background: none;
        // the transparency is for making it look better
        border: 1px solid rgba(0, 0, 0, 0.542);
        cursor: pointer;
        margin: 0.05rem 0;
        color: $regular-color;
        outline: none;
        width: 100%;
      }
      .btn-decreaseFont {
        border-radius: 5px 5px 0 0;
        font-size: 0.7rem;
      }

      .btn-increaseFont {
        border-radius: 0 0 5px 5px;
      }
    }

    // Dark mode
    &-mode {
      border-radius: 50%;
      border: 0.5px solid $regular-color;
      height: 2.5rem;
      overflow: hidden;
      position: relative;
      width: 2.5rem;

      button {
        cursor: pointer;
        border: none;
        outline: none;
        background: transparent;
        position: absolute;
        height: 25px;
        width: 12.5px;
      }

      .btn-light {
        background: $bg-color;
        left: 0;
      }

      .btn-dark {
        background: $regular-color;
        right: 0;
      }
    }

    // Print
    &-print {
    }
  }
}

// mobile toolbar
.toolbar-mobile {
  position: fixed;
  z-index: 99;
  bottom: 0;
  width: 100%;
  border: 5px 5px 0 0;
  // hidden until mobile
  visibility: hidden;
  opacity: 0;
  background-color: $bg-color;
  box-shadow: 0 -5px 20px 0 rgba(151, 151, 151, 0.2);

  &-ul {
    padding: 1rem 0;
    width: 350px;
    margin: 0 auto;
    @include flex_center;
    justify-content: center;
    gap: 3rem;

    li {
      min-width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      i {
        color: $highlight-color;
        font-size: 1.6rem;
      }

      .menu-detail {
        color: $regular-color;
        margin-top: 0.5rem;
        text-transform: uppercase;
        font-size: 1rem;
        color: rgba(0, 0, 0, 0.497);
      }
    }

    // language
    &-language {
      button {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        background: transparent;
        border: none;
        font-weight: 500;
        outline: none;
        cursor: pointer;
        padding: 0;
        color: $highlight-color;
        font-size: 1.6rem;
      }
    }

    // Increase fonts
    &-increase {
      button {
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
      }
    }

    // Dark mode
    &-mode {
      button {
        background: transparent;
        outline: none;
        border: none;
      }
    }

    // mobile open btn navigation
    &-hamburguer {
      padding: 0;
      background: transparent;
      outline: none;
      border: none;
    }
  }
}

@media (max-width: 650px) {
  .toolbar-mobile {
    visibility: visible;
    opacity: 1;
  }
}
