.toolbar {
  border-radius: 2.5rem;
  display: flex;
  height: 17.3rem;
  justify-content: center;
  margin-top: 10rem;
  border: 0.1rem solid purple;
  position: sticky;
  top: 1rem;
  // Can't be bigger than 40px
  width: 4rem;
  //   Key margin to center all elements because of the toolbar
  margin-left: -4rem;
}
