.toolbar {
  border-radius: 1rem;
  border: none;
  box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  padding: 1.5rem 0.5rem 1.1rem 0.5rem;
  //   Key margin to center all elements because of the toolbar
  margin-left: -4rem;
  margin-top: 10.3rem;
  position: sticky;
  top: 10rem;
  // Can't be bigger than 40px
  width: 4rem;

  &-ul {
    @include flex_center;
    border-radius: 1rem;
    flex-direction: column;
    gap: 1.5rem;

    // Styles for all elements
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &:active {
        transform: scale(0.9);
        transition: transform 0.3s ease;
      }

      i {
        color: var(--highlight-color);
        font-size: 1.6rem;
      }

      .menu-detail {
        color: var(--regular-color);
        font-size: 0.9rem;
        text-transform: uppercase;
      }
    }

    // Language
    &-language {
      button {
        font-family: "Poppins", sans-serif;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 0;
        color: var(--highlight-color);
        font-size: 1.4rem;
        font-weight: 500;
      }
    }

    // Increase
    &-increase {
      display: flex;
      flex-direction: column;

      button {
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
      }
    }

    // Dark mode
    &-mode {
      overflow: hidden;

      button {
        background: transparent;
        outline: none;
        border: none;
        cursor: pointer;
      }
    }

    // Print
    &-print {
    }
  }
}

// mobile toolbar
.toolbar-mobile {
  position: fixed;
  z-index: 99;
  bottom: 0;
  width: 100%;
  border: 5px 5px 0 0;
  // hidden until mobile
  visibility: hidden;
  opacity: 0;
  background-color: var(--bg-color);
  box-shadow: 0 -5px 20px 0 rgba(151, 151, 151, 0.2);

  &-ul {
    padding: 1rem 0;
    width: 350px;
    margin: 0 auto;
    @include flex_center;
    justify-content: center;
    gap: 3rem;

    li {
      min-width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      i {
        color: var(--highlight-color);
        font-size: 1.6rem;
      }

      .menu-detail {
        color: var(--regular-color);
        margin-top: 0.5rem;
        text-transform: uppercase;
        font-size: 1rem;
        color: rgba(0, 0, 0, 0.497);
      }
    }

    // language
    &-language {
      button {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        background: transparent;
        border: none;
        font-weight: 500;
        outline: none;
        padding: 0;
        color: var(--highlight-color);
        font-size: 1.6rem;
      }
    }

    // Increase fonts
    &-increase {
      button {
        background: none;
        border: none;
        outline: none;
      }
    }

    // Dark mode
    &-mode {
      button {
        background: transparent;
        outline: none;
        border: none;
      }
    }

    // mobile open btn navigation
    &-hamburguer {
      padding: 0;
      background: transparent;
      outline: none;
      border: none;
    }
  }
}

@media (max-width: 650px) {
  .toolbar-mobile {
    visibility: visible;
    opacity: 1;
  }
}
