html {
  font-size: 62.5%;
}

body {
  color: $regular-color;
  font-family: "Open Sans", sans-serif;
  font-size: $regular-text-font;
  line-height: 1.6;
}

h1 {
  @include primary_heading;
}

h2 {
  @include secondary_heading;
}

h3 {
  @include tertiary_heading;
}

h4 {
  @include quaternary_heading;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

figure {
  margin: 0;
  padding: 0;
}

p {
  @include regular_text;
}
