html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: $regular-text-font;
  font-weight: 600;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
}
