html {
  font-size: 62.5%;
}

body {
  color: var(--regular-color);
  font-family: "Open Sans", sans-serif;
  font-size: var(--regular-text-font);
  line-height: 1.6;
}

h1 {
  @include primary_heading;
}

h2 {
  @include secondary_heading;
}

h3 {
  @include tertiary_heading;
}

h4 {
  @include quaternary_heading;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

figure {
  margin: 0;
  padding: 0;
}

// Still for improvement
p {
  @include regular_text;
  transition: all 0.3s ease;
}

// Trigger by the btn-increase button from javaScript
p.increase {
  font-size: clamp(2rem, 2vw, 2rem);
  transition: all 0.3s ease;
  line-height: normal;
}
