/*missing alt attribute*/
img:not([alt]) {
  outline: 0.5rem dashed red;
  outline-offset: 0.5rem;
}

/*empty alt attribute*/
img[alt=""] {
  outline-offset: 1.5rem;
  outline: 0.5rem solid blue;
}

figure,
figcaption,
span {
  margin: 0;
  padding: 0;
}

small {
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.4rem;
  font-family: "Crete Round", serif;
  color: var(--details-color);
}

.detailed {
  color: var(--highlight-color);
}

// soon techs
.soon {
  position: relative;

  img {
    opacity: 10%;
  }
}

.soon::after {
  content: "Soon";
  opacity: 50%;
  position: absolute;
  left: 50%;
  bottom: 40%;
  color: var(--highlight-color);
  font-weight: bold;
  text-transform: uppercase;
  transform: translate(-50%, -50%) rotate(-20deg);
}

// Scroll revealing animation
.scroll {
  transition:
    transform 0.5s,
    opacity 1s;
}

.scroll-hidden {
  opacity: 0;
  transform: translateY(3rem);
}

.li-separator {
  opacity: 20%;
  color: var(--highlight-color);
}
