* {
  box-sizing: border-box;
}

html {
  background: $bg-color;
}

img {
  max-width: 100%;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Scroll revealing animation

.scroll {
  transition: transform 1s, opacity 1s;
}

.scroll-hidden {
  opacity: 0;
  transform: translateY(3rem);
}
