.presentation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;

  &-about {
    flex-basis: 40%;

    h1 {
      line-height: 1;
    }

    h2 {
      margin-bottom: 4rem;
      position: relative;

      &::before {
        border-top: 5px double var(--highlight-color);
        bottom: -5px;
        content: "";
        left: 2px;
        position: absolute;
        width: 11.7rem;
        z-index: -1;
      }
    }
  }

  .presentation-ul {
    display: flex;
    gap: 3rem;

    li a {
      color: var(--highlight-color);
    }
  }

  &-detail {
    flex-basis: 50%;

    p {
      margin-bottom: 2rem;
    }
  }
}

@media (max-width: 650px) {
  .presentation {
    flex-direction: column;
    margin-bottom: 5rem;

    &-about {
      margin-bottom: 7rem;
    }
  }
}
