// only for home page
.main-header {
  @include margin_center;
  height: 90vh;
  max-height: 70rem;
  max-width: 250rem;
  overflow-x: hidden;
  position: relative;

  .hero {
    @include flex_center;
    @include margin_center;
    justify-content: center;
    margin-top: 11.5rem;
    max-width: 100%;
    width: 100rem;

    &-info {
      flex-basis: 60%;

      h1 {
        line-height: 1;
      }

      .detailed {
        font-style: italic;
        font-size: 3rem;
      }
    }

    &-info-ul {
      display: flex;
      gap: 2rem;

      li a {
        color: var(--highlight-color);
        font-size: 2rem;
      }
    }

    &-banner {
      @include flex_center;
      align-items: center;
      justify-content: center;
      margin-left: 1rem;

      img {
        max-width: 60%;
      }
    }
  }
}

.hero-info-ul.mobile {
  display: none;
}

/*************************************************
  ****************Responsive styles****************
  **************************************************/
@media (max-width: 1050px) {
  .main-header {
    .hero {
      margin-top: -1rem;
      padding: 0 2rem;
    }
  }
}

@media (max-width: 650px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-info {
    h1 {
      span {
        display: block;
        margin: 1rem 0 2rem 0;
      }
    }
  }

  .hero-banner {
    margin-top: 2rem;
  }

  .main-header {
    margin-top: 0;
  }

  .hero-info-ul.desktop {
    display: none;
  }

  .hero-info-ul.mobile {
    display: flex;
    margin-top: 2rem;
  }
}
