// style for the main page with the toolbar included
.main-wrapp {
  display: flex;
  max-width: 110rem;
  @include margin_center;

  aside {
    // asside styles
  }

  main {
    @include margin_center;
    padding: 0 5rem;
  }
}
