// only for home page
.main-header {
  @include margin_center;
  height: 90vh;
  max-height: 70rem;
  max-width: 250rem;
  overflow-x: hidden;
  position: relative;

  .hero {
    @include flex_center;
    @include margin_center;
    justify-content: center;
    margin-top: 11.5rem;
    max-width: 100%;
    width: 100rem;

    &-info {
      flex-basis: 60%;

      .hand-animation {
        animation-duration: 2.5s;
        animation-iteration-count: infinite;
        animation-name: shake;
        display: inline-block;
        transform-origin: 70% 70%;
      }
    }

    &-banner {
      @include flex_center;
      align-items: center;
      justify-content: center;
      margin-left: 1rem;

      img {
        max-width: 60%;
      }
    }
  }
}

/*************************************************
  ****************Responsive styles****************
  **************************************************/
@media (max-width: 1050px) {
  .main-header {
    .hero {
      margin-top: 2rem;
      padding: 0 2rem;
    }
  }
}

@media (max-width: 650px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .main-header {
    margin-top: 0;
  }
}
