// Specific styles for the utilites in the projects page
.header-projects {
  height: auto;

  .wrapper {
    margin-bottom: 7rem;
    // Hero section
    &-hero {
      display: flex;
      width: 100%;
    }
  }
}

.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
