.projects-intro {
  max-width: 110rem;
  margin: 0 auto 6rem auto;
  padding: 0 5rem;
}

.projects {
  &-filter {
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0 0.1rem 0.4rem 0 var(--box-shadow);
    color: var(--details-color);
    font-weight: 500;
    padding: 0.3rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;

    .projects-card {
      width: 31%;
      min-height: 31.5rem;
      padding: 1rem;
      box-shadow: 0 0.1rem 0.4rem 0 var(--box-shadow);
      border-radius: 0.5rem;
      transition: all 0.3s ease;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0.4rem 0.8rem 0 var(--box-shadow);
        transition: all 0.3s ease;
      }

      &-details,
      &-links {
        padding: 0 1rem;
      }

      &-details {
        h4 {
          margin: 0.5rem 0 1rem 0;
          font-weight: normal;
        }

        small {
          font-size: 1rem;
          color: var(--regular-color);

          span {
            font-weight: normal;
          }
        }
      }

      &-links {
        @include flex_center;
        width: 100%;
        justify-content: space-between;
        margin-top: 2rem;

        a {
          color: var(--details-color);
          border-bottom: 0.1rem solid var(--highlight-color);
          font-weight: bold;

          font-size: 1rem;
          font-family: "Merriweather Sans", sans-serif;
        }

        .projects-icons {
          font-size: 1rem;
          color: var(--details-color);
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .projects-intro {
    padding: 0 2rem;
  }
}
