// style for about pages only
.main-sitemap {
  overflow-x: hidden;
}

.sitemap {
  width: 100vw;
  margin-left: 3rem;
}

a {
  font-size: 2rem;
}

.sitemap-ul {
  list-style-type: none;
  padding: 0;
  margin-left: 2rem;
  font-size: 2rem;
}

.sitemap-ul-li {
  margin-bottom: 10px;
}

.sitemap-ul-li a {
  text-decoration: none;
}

.inner-ul {
  list-style-type: none;
  padding-left: 20px;
}

.inner-ul li {
  margin-bottom: 5px;
}

.inner-ul li a {
  color: #555;
  text-decoration: none;
}
.inner-ul li a:hover {
  text-decoration: underline;
}
