.container {
  padding: 3rem 0;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .fa-circle-check {
    color: green;
    font-size: clamp(2rem, 5vw, 7rem);
    margin-bottom: 2rem;
  }

  h1 {
    color: var(--highlight-color);
  }

  .social-list {
    display: flex;
    gap: 2rem;

    align-items: center;
    justify-content: center;
  }

  .regular-btn {
    margin: 2rem auto;
  }
}
