.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  width: 100%;
  text-align: center;

  .fa-circle-check {
    color: green;
    font-size: clamp(2rem, 5vw, 7rem);
    margin-bottom: 2rem;
  }

  h1 {
    color: var(--highlight-color);
  }

  .social-list {
    display: flex;
    gap: 2rem;
  }
}
