.projects {
  display: flex !important;
  flex-direction: column !important;
}

.projects-card video[poster="images/poster-benefits.webp"],
.projects-card video[poster="images/poster-catalogs.webp"],
.projects-card video[poster="images/poster-encore.webp"],
.projects-card video[poster="images/poster-meet.webp"],
.projects-card video[poster="images/poster-portfolio.webp"],
.projects-card video[poster="images/poster-project.webp"],
.projects-card video[poster="images/poster-slot.webp"],
.projects-card video[poster="images/poster-stores.webp"],
.projects-card video[poster="images/poster-terms.webp"],
.projects-card video[poster="images/poster-timer.webp"] {
  filter: grayscale(100%);
}

/******************** Hidden elements ********************/
.projects-card-links {
  display: none !important;
}
