/******************** Hide elements ********************/

.hero.spa {
  display: none !important;
}

h2 {
  font-size: 18pt;
  margin: 40px auto 30px auto;

  &::before {
    border-top: none !important;
    width: 0 !important;
  }
}

.presentation {
  flex-direction: column;
}

.presentation-ul {
  flex-direction: column;
  margin: 3rem 0;
}

.timeline {
  border: none;
  box-shadow: none !important;
}
