/******************** General settings ********************/
@import url("print_about.css");
@import url("print_home.css");
@import url("print_projects.css");

html {
  font-size: 62.5%;
  background-color: white;
}

body {
  width: 800px !important;
  font-size: 13pt !important;
  display: block !important;
  margin: 0 auto !important;
  line-height: 1.6 !important;
  color: black !important;
}

main,
header,
section,
nav {
  padding: 0 !important;
  margin: 0 !important;
}

main {
  height: auto !important;
}

nav {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100% !important;
}

.hero {
  padding: 0 !important;
  margin: 0 auto 5rem auto !important;
  display: block !important;
  width: 100% !important;
}

header {
  height: auto !important;
}

section {
  margin-bottom: 4rem !important;
}

/******************** Logo Settings ********************/
.logo-light {
  filter: grayscale(1);
  margin: 3rem auto !important;
}

/******************** Hidden elements ********************/

audio,
footer,
figcaption,
aside,
.contact,
.nav-mobile,
.nav-desktop,
.logo-dark,
br {
  display: none !important;
}

/******************** Typpography settings ********************/
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: left !important;
  color: black !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}

h1 {
  font-size: 22pt;
  width: 600px;
  margin: 0 auto 2rem auto;
}

h2 {
  font-size: 18pt;
  margin: 40px auto 30px auto;
}

h3 {
  font-size: 14pt;
  margin-bottom: 10px;
  font-weight: bold;
}

h4 {
  font-size: 11pt;
}

p,
small,
.detailed,
a,
span {
  color: black !important;
}

/* Link settings */
a::after {
  content: " [ " attr(href) " ]";
  font-weight: normal;
  letter-spacing: 1px;
}

a:link,
a:visited {
  font-weight: bold;
  color: black;
}

/* Hidden link logo [index.html] */
.logo_link_print::after {
  content: "";
  font-weight: normal;
  letter-spacing: 1px;
}

/* Queries */
@page {
  size: A4;
}
