html {
  font-size: 62.5%;
  background-color: white;
}

body {
  width: 800px;
  height: auto;
  font-size: 13pt;
  height: 960px;
  font-family: "Noto Serif", serif;
  display: block;
  margin: 0 auto;
  line-height: 1.6;
  color: black;
}

img,
video,
audio,
footer,
figure,
figcaption,
nav,
aside {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Serif", serif;
  font-weight: normal;
}

/* LOGO APPEAR */
/* REMEMBER ALWAYS USE THE CLASS LOGO IN ORDER TO APPLY THIS STYLE */
.logo {
  display: block;
  filter: grayscale(1);
  margin: 20px auto 40px auto;
  width: 200px;
}

/* HEADINGS SETTINGS*/
h1 {
  font-size: 22pt;
  width: 600px;
  margin: 30px auto 0 auto;
}

h2 {
  font-size: 18pt;
  margin: 40px auto 30px auto;
}
h3 {
  font-size: 14pt;
  margin-bottom: 10px;
  font-weight: bold;
}

h4 {
  font-size: 11pt;
}

h5 {
  font-size: 9pt;
}

/* ARTICLE AND PARAGRAPHS SETTINGS*/

article {
  width: 600px;
  height: auto;
  margin: 0 auto;
}

article p {
  margin-bottom: 30px;
}

.first-paragraph {
  margin-bottom: 35px;
}
/* LINKS SETTINGS */

a::after {
  content: " [ " attr(href) " ]";
  font-weight: normal;
  letter-spacing: 1px;
}

a:link,
a:visited {
  font-weight: bold;
  color: black;
}

/* LIST SETTINGS */

ul {
  margin: 15px 0 35px 0;
}

ul li {
  margin-bottom: 40px;
  page-break-inside: avoid;
}

/* PAGE MEDIA SETTINGS */

@page :first {
  margin-top: 20pt;
}

@page {
  margin-bottom: 80pt;
  margin-top: 70pt;
}

/* ----------------------------------
          CUSTOMIZED ADJUSTMENTS  
   ----------------------------------- */
