/******************** Hidden elements ********************/
.hero-banner,
.projects,
.abilities-wrapper-counter,
.stack-wrapper-icons-box img {
  display: none !important;
}

.stack-wrapper-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  margin-top: 1rem;
}

.stack-wrapper-icons-box {
  width: 50px !important;
}

/* Hidden tooltip */
.hig-text {
  border-bottom: none;
  color: var(--regular-color);
  cursor: pointer;
  position: relative;

  .tool-tip {
    display: none;
  }

  .tool-tip::after {
    display: none;
  }
}
